.wrms-container {
    display: flex;
    justify-content: space-between;
}

.wrms-main-content {
    flex: 1;
    margin-right: 20px;
}

.wrms-sidebar {
    width: 300px;
}

.sync-log {
    background-color: white;
    margin-top: 20px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
}

#progress-bar {
    margin-top: 20px;
    height: 20px;
    width: 100%;
    background-color: #ccc;
}

#progress-bar-fill {
    height: 100%;
    width: 0%;
    background-color: #4caf50;
}

.wrms-stats-box {
    background-color: #fff;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    padding: 20px;
    margin-bottom: 20px;
}

.wrms-stats-box h2 {
    margin-top: 0;
}